/* ================================== Variables ================================== */
:root {
    /* Colors */
    --title-color: ;
    --text-color: ;
    --font-semi-bold: ;
}


/* ================================== Global ================================== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
}

/* Icon style */
.icon {
    height: 16px;
    width: 16px;
}

/* Legal notice style */
.legal-notice {
    text-align: center;
    color: #00000080;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

/* ================================== Navbar Styling ================================== */
.navbar {
    height: 50px;
    display: flex;
    top: 0;
    left: 0;
    background-color: #C2FFD7;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    display: inline;
    width: 100px;
    text-align: left;
    padding-left: 20px;
}

.navbar__list {
    text-align: end;
}

.navbar__list li {
    display: inline;
    padding-right: 20px;
    float: right;
}

body {
    font-size: 14px;
}

/* ================================== Team member portraits ================================== */
.portrait__grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 50px;
    row-gap: 50px;
}

.portrait__image {
    border-radius: 5%;
}

.portrait__text {
    text-align: center;
}
